#back-button {
    background-color: #eee;
}

    #back-button md-icon {
        color: blue;
    }

.md-menu-toolbar {
    min-height: 50px;
}

md-content, md-content > div:first-child, #employee-list {
    height: 100%;
}

    #employee-list md-input-container {
        padding-top: 0;
        padding-bottom: 0;
        margin-bottom: 0;
        margin-top: 10px;
    }

    #employee-list md-virtual-repeat-container {
        height: 100%;
        width: 100%;
    }
