<div class="scrollable">
    <div class="input-group">
        <input type="text" class="form-control no-radius" placeholder="Search for..." id="employee-search" ng-model="$ctrl.query">
        <span class="input-group-btn">
            <button ui-turn-on="addEmployee" class="btn btn-default no-radius" type="button"><i class="fa fa-2x fa-plus text-success"></i></button>
        </span>
    </div>
    <div class="scrollable-content">
        <ul class="list-group">
            <li ng-repeat="item in $ctrl.employeelist | filter: $ctrl.query" class="list-group-item section">
                <h3>
                    <a href="#!/employee/{{item.Id}}">
                        {{ item.FirstName + " " + item.LastName }}
                    </a>
                </h3>
                <span>{{ item.Email }}</span><br />
                <small>{{ item.DOB }}</small>
                <ul class="list-inline pull-right">
                    <!--<li>
                        <a href="">
                            <i class="fa fa-2x fa-info-circle text-info"></i>
                        </a>
                    </li>-->
                    <li>
                        <a ng-click="$ctrl.delete($index)">
                            <i class="fa fa-2x fa-trash text-danger"></i>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<add-employee></add-employee>


