<md-toolbar>
    <div class="md-toolbar-tools">
        <h2>Add Employee</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="$ctrl.close()">
            <md-icon md-font-icon="fa fa-close fa-2x"></md-icon>
        </md-button>
    </div>
</md-toolbar>
<form>
    <md-dialog-content>
        <div class="md-dialog-content">
            <md-input-container class="md-block">
                <label>First Name</label>
                <input ng-model="$ctrl.employee.FirstName" />
            </md-input-container>
            <md-input-container class="md-block">
                <label>Last Name</label>
                <input ng-model="$ctrl.employee.LastName" />
            </md-input-container>
            <div layout-gt-xs="row">
                <md-input-container class="md-block" flex-gt-xs>
                    <label>Email</label>
                    <input ng-model="$ctrl.employee.Email" />
                </md-input-container>
                <md-input-container class="md-block" flex-gt-xs>
                    <label>Date Of Birth</label>
                    <md-datepicker ng-model="$ctrl.employee.DOB"></md-datepicker>
                </md-input-container>
            </div>
        </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <span flex></span>
        <md-button class="md-raised" type="button" ng-click="$ctrl.add($event)">
            Submit
        </md-button>
        <md-button class="md-raised" type="button" ng-click="$ctrl.reset()">
            Reset
        </md-button>
    </md-dialog-actions>
</form>

